
<h1>Listing discs</h1>

<table id="discs">
  <thead>
    <th>Name</th>
    <th>Manufacturer</th>
    <th>Type</th>
    <th>Flight difficulty</th>
    <th>Flight speed</th>
    <th>Flight glide</th>
    <th>Flight turn</th>
    <th>Flight fade</th>
    <th>Number of editions</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
<% @discs.each do |disc| %>
  <tr>
    <td><%= disc.name %></td>
    <td><%= disc.manufacturer %></td>
    <td><%= disc.throw_type %></td>
    <td><%= disc.flight_difficulty %></td>
    <td><%= disc.flight_speed %></td>
    <td><%= disc.flight_glide %></td>
    <td><%= disc.flight_turn %></td>
    <td><%= disc.flight_fade %></td>
    <td><%= disc.disc_editions.length %></td>
    <td><%= link_to 'Show', disc %></td>
    <td><%= link_to 'Edit', edit_disc_path(disc) %></td>
    <td><%= link_to 'Destroy', disc, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Disc', new_disc_path %>

<script type="text/javascript">
$(function(){
    $('#discs').dataTable({
        iDisplayLength: 25,
        bSort: true,
        bFilter: true,
        bJQueryUI: true
    });
})

</script>