<p id="notice"><%= notice %></p>

<h1>Disc</h1>
<p>
  <b>Name:</b>
  <%= @disc.name %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @disc.manufacturer %>
</p>

<p>
  <b>Type:</b>
  <%= @disc.throw_type %>
</p>

<p>
  <b>Flight difficulty:</b>
  <%= @disc.flight_difficulty %>
</p>

<p>
  <b>Flight speed:</b>
  <%= @disc.flight_speed %>
</p>

<p>
  <b>Flight glide:</b>
  <%= @disc.flight_glide %>
</p>

<p>
  <b>Flight turn:</b>
  <%= @disc.flight_turn %>
</p>

<p>
  <b>Flight fade:</b>
  <%= @disc.flight_fade %>
</p>

<h2>Disc Editions</h2>
<ul>
<% @disc.disc_editions.each do |disc_edition| %>
  <li>
    <p>
      <b>Name:</b>
      <%= disc_edition.plastic %>
    </p>

    <p>
      <b>Price:</b>
      <%= disc_edition.price %>
    </p>
  </li>
<% end %>
</ul>


<%= link_to 'Edit', edit_disc_path(@disc) %> |
<%= link_to 'Back', discs_path %>
